@charset "utf-8";

/* 기본 초기화 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* 나눔스퀘어 웹폰트 */
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

/* G산스 웹폰트 */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 폰트 적용*/
body, div, nav, aside, article,
h1, h2, h3, h4, ol, ul, li, a
dl, dt, dd, p, span, form, th, td, input,
textarea, select, pre, address {
    color:black; font-family: "NanumSquare", sans-serif;
    -webkit-font-smoothing: antialiased; line-height: 1.5;
    font-size: 12px; letter-spacing: -0.5px;
}

h1 {
    font-family: "GmarketSansBold"; letter-spacing: -0.5px;
}

/* 그 외 디자인 요소 */
/* body { background-color: #FAF9F9;}
body.selectDisable { -webkit-user-select: none; }
img { border: 0; }
div,nav,aside,article,figure { display: block; }
dl,ul,ol,menu,li { list-style: none; }
img,input,select,textarea { vertical-align: middle; }
a { color: rgb(64, 64, 214); text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
em { font-style: normal; font-weight: bold;}
em.underline { font-style: normal; font-weight: normal; text-decoration: underline; }
address { font-style: normal; }
input[type="button"],input[type="submit"],input[type="search"] {
	-webkit-appearance: none;
} */

/* ========================================= */


html {
    overflow: hidden;
    background: #FAF9F9;
    cursor: none;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

#drawing_line { position: relative; z-index: 1500; height: 0; }
#drawing_line > svg { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; pointer-events: none; }
#drawing_line > svg .drawing_line_polyline { fill: none; stroke: #09008b; stroke-width: 2; }
#drawing_line > svg .drawing_line_circle { fill: #09008b; }

.up-on-scroll {
    transition: transform 0.9s, opacity 1.5s;
}


/* ======================================= */
/* ======================================= */

.title {
    position: relative;
    top: 7%;
    left: 10%;
}

.title h1 {
    justify-content: center;
    line-height: 100%;
    font-size: 130px;
    animation: fadein 2s;
}
.title p {
    left: 10%;
}

/* 글 검색 */


/* 글 목록 */

#bloglist {
    position: relative;
    left: 10%;
    top: 10%;
}

table, th, td {
    border:1px solid #333333;
    border-collapse:collapse;
    padding:5px
}
table {
    border:2px solid #09008b;
}
caption {
    font-size:18px;
    font-weight:bold;
    text-decoration:underline;
    padding:10px;
}
thead {
    background-color:#09008b;
}

.tdNo, .tdDate, .tdCount, .tdName {
    text-align:center;
}

tfoot {
    text-align:center;
}
 
tbody a{
    color:#333;
}
 
tbody a:link{
    font-size:12px;
    font-family:굴림;
    text-decoration:none;
 }
 
tbody a:visited{
    font-size:12px;
    color:#333;
    font-family:굴림;
    text-decoration:none;
         
 }
tbody a:hover{ text-decoration:underline;}
tbody a:active { font-size:13px; font-family:궁서;}

tfoot a{ color:#09008b; }
 
tfoot a:link{
    font-size:10pt;
    text-decoration:none;
}
 
tfoot a:visited{
    font-size:12px;
    text-decoration:none;
         
}
tfoot a:hover{
    text-decoration:underline;
}
tfoot a:active {
    font-size:13px;
}








/* 사이드바 */

input[id=menuicon] {display: none;}

input[id=menuicon] + label {
    display: block;
    width: 50px;
    height: 45px;
    position: fixed;
    right: 70px;
    top: 70px;
    cursor: none;
}
input[id=menuicon] + label span {
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    border-radius: 30px;
    background: black;
    transition: all .35s;
}
input[id=menuicon] + label span:nth-child(1) {top: 0;}
input[id=menuicon] + label span:nth-child(2) {
    top:50%;
    transform: translateY(-50);
}
input[id=menuicon] + label span:nth-child(3) {
    bottom: 0;
}
input[id=menuicon]:checked + label {z-index: 2;}
input[id=menuicon]:checked + label span {background: darkblue;}
input[id=menuicon]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id=menuicon]:checked + label span:nth-child(2) {
    opacity: 0;
}
input[id=menuicon]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sidebar {
    width: 550px;
    height: 100%;
    background: rgb(230, 230, 230);
    position: fixed;
    top: 0;
    right: -550px;
    z-index: 1;
    transition: all .35s;
    cursor: none !important;
}
input[id=menuicon]:checked + label + div {
    right:0;
}
.inmenu {
    margin-top: 30%;
}

.inmenu li {
    list-style: none;
    font-size: 60px;
    font-family: "GmarketSansBold";
}
.inmenu li a {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: none !important;
}
.inmenu li a:hover {
    color: #09008b;
}